{% extends "base/base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
{% block content %}
<div class="main">
	<div class="row justify-content-left">
		<h1>&nbsp&nbspCONTACT</h1>
	</div>
	<hr>
	<div class="row">
		<div class="card card-body h-100 border-info" id="profile-wrapper">
		<div class="row">
			<div class="col-md-5">
			<center><img src="{% static 'images/jack/winterjack.jpeg' %}" 
					width=80%;>
  				</center>
			</div>
			<div class="col-md-7">
				<br>
				<h4>How to Reach Me</h4>
				<br>
				<p align="left"> If you would like to ask for more information, inquire about my services, or would just like to chat, then please feel free to contact me. I currently live in Edmonton, Canada and the best ways to reach me are below: 
				</p>
				<p align="left"> 
					&emsp;&emsp; Jack Brons<br>
					&emsp;&emsp; Email: jbrons17@gmail.com<br>
					&emsp;&emsp; Phone: +1 (780) 916-9789<br>
					&emsp;&emsp; Socials:
				<br>
				<ul class="social-links">
					<li><a href="https://www.facebook.com/jackbrons17"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
					<li><a href="https://www.linkedin.com/in/jack-brons-859051194"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
					<li><a href="https://github.com/jb994"><img class="social" src="{% static 'images/github.png' %}"></a></li>
				</ul></p>
			</div>
		</div>
		</div>
	</div>
	<br>
</div>
{% endblock %}
</html>